<%= form_for @item do |f| %>
<% if @item.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
  Name: <%= f.text_field :name, :placeholder => "Item Name" %><br>
  Barcode: <%= f.text_field :barcode, :placeholder => "Item Barcode" %><br>
  Drawers:
  <table border="1">
    <tr>
      <% Drawer.numberOfColumns.times.each do |column| %>
        <td><%= column+1 %></td>
      <% end %>
    </tr>
    <% Drawer.numberOfRows.times.each do |row| %>
      <tr>
        <% Drawer.numberOfColumns.times.each do |column| %>
          <% if Drawer.where(:row => row+1, :column => column+1).count > 0 %>
            <td><label><%= check_box_tag "item[drawer_ids][]", Drawer.where(:row => row+1, :column => column+1).first.id, @item.drawers.include?(Drawer.where(:row => row+1, :column => column+1).first) %> <%= Drawer.where(:row => row+1, :column => column+1).first.label %></label></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= f.submit :class => "btn" %>
<% end -%>