<%= form_for @item do |f| %>
<% if @item.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
  Name: <%= f.text_field :name, :placeholder => "Item Name" %><br>
  Price: <%= f.number_field :price, :placeholder => "Item Price" %><br>
  Drawers:
  <% Drawer.all.each do |drawer| %>
    <label><%= check_box_tag "item[drawer_ids][]", drawer.id, @item.drawers.include?(drawer) %> <%= drawer.label %> (Row <%= drawer.row %> Column <%= drawer.column %>)</label>
  <% end %>
  <%= f.submit :class => "btn" %>
<% end -%>