<%= form_for @screw do |f| -%>
  <% if @screw.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @screw.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  Size: <%= f.text_field :size, :placeholder => "Screw Size" %><br>
  Length: <%= f.text_field :length, :placeholder => "Screw Length" %><br>
  Threading: <%= f.text_field :threading, :placeholder => "Screw Threading" %><br>
  Drawers:
  <table border="1">
    <tr>
      <% Drawer.numberOfColumns.times.each do |column| %>
        <td><%= column+1 %></td>
      <% end %>
    </tr>
    <% Drawer.numberOfRows.times.each do |row| %>
      <tr>
        <% Drawer.numberOfColumns.times.each do |column| %>
          <% if Drawer.where(:row => row+1, :column => column+1).count > 0 %>
            <td><label><%= check_box_tag "screw[drawer_ids][]", Drawer.where(:row => row+1, :column => column+1).first.id, @screw.drawers.include?(Drawer.where(:row => row+1, :column => column+1).first) %> <%= Drawer.where(:row => row+1, :column => column+1).first.label %></label></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= f.submit :class => "btn" %>
<% end %>