<h1><%= "#{@screw.size}x#{@screw.length} #{@screw.threading}" %></h1>
<% if current_user_if_exists.has_role?(:admin) || current_user_if_exists.has_role?(:moderator) %>
  <%= link_to "Edit", edit_screw_path(@screw) %><br>
  <%= link_to "Delete", @screw, :method => :delete, :class => :destroy %>
<% end %>
<h3>Drawer List</h3>
<% @screw.drawers.each do |drawer| %>
  <a href="/drawers/<%= drawer.id %>"><%= drawer.label %></a><br>
<% end %>
<h3>Map</h3>
<%= render :partial => "screws/partials/map", :locals => {:screw => @screw} %>

<script>
$.idleTimer(60000);

$(document).bind("idle.idleTimer", function(){
  document.location = "/"
});


$(document).bind("active.idleTimer", function(){
 // function you want to fire when the user becomes active again
});

enableBarcodeReading();
</script>