<h3>User</h3>
<p>User: <%= @user.full_name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Roles: <%= @user.roles.join(', ') if @user.roles %></p>
<table border="1">
  <thead>
    <tr>
      <% Certification.all.reverse.each do |c| %>
        <th><%= c.tool_name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% Certification.all.reverse.each do |c| %>
      <td style="min-width: 50px;"><%= @user.certifications.include?(Certification.where(:tool_name => c.tool_name)[0]) ? raw("<div style=\"text-align: center;\">✭</div>") : "" %></td>
    <% end %>
  </tbody>
</table>
<table class="table table-bordered">
  <thead>
    <tr>
        <th>Clock In Time</th>
        <th>Clock Out Time</th>
        <th>Duration (in minutes)</th>
    </tr>
  </thead>
  <tbody>
    <% @user.timeEntriesForYear(2014).each do |timeentry| %>
      <tr>
        <td><%= timeentry.clock_in_time.strftime('%v %r') %></td>
        <% if timeentry.clock_out_time %>
          <td><%= timeentry.clock_out_time.strftime('%v %r') %></td>
          <td style="<% "background-color: red;" if (((timeentry.clock_out_time-timeentry.clock_in_time) * 24 * 60).to_f) < 60.0 %>"><%= ((timeentry.clock_out_time-timeentry.clock_in_time) * 24 * 60).to_f %></td>
        <% else %>
          <td>Not clocked out<td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to "Edit", edit_user_path(@user) %>
  
  