<h3>User</h3>
<p>User: <%= @user.full_name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Roles: <%= @user.roles.join(', ') if @user.roles %></p>
<table border="1">
  <thead>
    <tr>
      <%= Certification.all.each do |c| %>
        <th><%= c.tool_name %></th>
      <% end %>
  </thead>
  <tbody>
    <%= Certification.all.each do |c| %>
      <td><%= @user.certifications.include? Certification.where(:tool_name => c.tool_name) ? "x" : "" %></td>
    <% end %>
  </tbody>
</table>