<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order_item.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @order_item.url %>
</p>

<p>
  <strong>Mcmasterpartnumber:</strong>
  <%= @order_item.mcmasterPartNumber %>
</p>

<p>
  <strong>Order state:</strong>
  <%= @order_item.order_state %>
</p>

<p>
  <strong>Ordered by:</strong>
  <%= @order_item.ordered_by_id %>
</p>

<p>
  <strong>Requested by:</strong>
  <%= @order_item.requested_by_id %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
