<%= link_to "Barn Owl", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to 'Login', new_user_session_path %></li>
  <% end %>
  <li><%= link_to 'Shopping List', "/order_items" %></li>
  <% if user_signed_in? %>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
    <% if current_user_if_exists.has_role? :admin %>
      <li><%= link_to 'Admin', users_path %></li>
      <li><%= link_to 'Timecards', "/timecard_manager/index" %></li>
    <% end %>
    <% if current_user_if_exists.has_role?(:admin) || current_user_if_exists.has_role?(:moderator) %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">New <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'New Screw', new_screw_path %></li>
          <li><%= link_to 'New Item', new_item_path %></li>
          <li><%= link_to 'New Drawer', new_drawer_path %></li>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>